@import "../../../variables";
@import "../../../mixins";

.filters {
    @include flexrow;
    font-size: 24px;
    color: $darkgrey;
    line-height: 48px;
    font-weight: normal;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #D9D9D9 ;

    .buttonFilters {
        @include flexrow;
        align-items: center;
        width: 75%;
        justify-content: space-evenly;

        .quantity {
            border-right: 2px solid #D9D9D9;
            padding-right: 20px;
        }

        .sort {
            color: $lightgrey;
        }
    }

    .rows{

        .leftButton, .rightButton {
            border: none;
            background-color: transparent;
            cursor: pointer;
        }
    }
}