@import "../../../../mixins";
@import "../../../../variables";

.button{
    background-color: $grey;
    border: none;
    border-radius: 20.5px;
    padding: 10px;
    font-size: 24px;
    color: $lightgrey;
    margin: 20px;
    cursor: pointer;
}