@import "../../../variables";
@import "../../../mixins";


.footer {
    @include flexrow;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid #D9D9D9;

    .quantity2 {
        border-right: 2px solid #D9D9D9;
        padding: 0px 20px;
        font-size: 24px;
        color: $darkgrey;
        line-height: 48px;
    }

    .rows2 {

        .leftButton2,
        .rightButton2 {
            border: none;
            background-color: transparent;
            cursor: pointer;
        }
    }
}